<div class="container">
    <div class="overlay" [hidden]="!uiService.isLoading">
        <img src="assets/img/loading.gif" />
    </div>

    <br>
    <h1>
        <span *ngFor="let path of uiService.path">
            <span *ngIf="!path.url">{{path.title}}</span>
            <a routerLink="{{path.url}}" *ngIf="path.url">{{path.title}}</a> /
        </span>
    </h1>
    <hr>

    <router-outlet></router-outlet>
</div>