<div class="row">
    <nav aria-label="Page navigation example" class="col-8">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="javascript: void(0)" (click)="navigate(0)">First</a></li>
            <li class="page-item"><a class="page-link" href="javascript: void(0)" (click)="navigate(-1)">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="javascript: void(1)" (click)="navigate(1)">Next</a></li>
            <li class="page-item"><a class="page-link" href="javascript: void(0)" (click)="navigate(null)">Last</a></li>
        </ul>
    </nav>
    <div class="col-4">
        <span><b>Page:</b> {{pageRequest.currentPage + 1}} of {{getPagesCount()}}</span>
        &nbsp;
        <span><b>Total:</b> {{pageRequest.total}} records</span>
    </div>
</div>