<div *ngIf="viewMode === 1">
    <h3>Add New Price</h3>
</div>
<div *ngIf="viewMode === 2">
    <h3>Edit Price</h3>
</div>
<div *ngIf="viewMode === 3">
    <h3>Delete Price</h3>
    <h5 class="text-danger">Please confirm if you want to delete this price</h5>
</div>

<h5 class="text-danger" *ngIf="error && error.length > 0">{{error}}</h5>

<div class="row">
    <div class="col-1">
        <button type="button" class="btn btn-dark" (click)="onAdd()" *ngIf="viewMode === 0">Add</button>
    </div>
    <div class="col-3"><b>Date</b></div>
    <div class="col-2"><b>EOD Price</b></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
</div>
<hr />

<div *ngIf="viewMode === 1 || viewMode === 2  || viewMode === 3">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3"><input type="date" class="form-control" [ngModel]="price.date | date:'yyyy-MM-dd'"
                (ngModelChange)="price.date = $event" [disabled]="viewMode === 3" name="date" />
        </div>
        <div class="col-2"><input type="number" class="form-control" maxlength="20" [(ngModel)]="price.eodPrice"
                [disabled]="viewMode === 3" name="eodPrice" />
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-dark" *ngIf="viewMode !== 3" (click)="onSave()"
                [disabled]="!isValid()">Save</button>
            <button type="button" class="btn btn-danger" *ngIf="viewMode === 3" (click)="onConfirm()">Confirm</button>
        </div>
        <div class="col-1"><button type="button" class="btn btn-dark" (click)="onCancel()">Cancel</button>
        </div>
    </div>
    <hr />
</div>

<div *ngIf="viewMode === 0">
    <div *ngIf="prices && prices.length === 0">
        <h5 class="text-info">You have no prices logged for this security</h5>
    </div>

    <div *ngFor="let price of prices" class="securities">
        <div class="row">
            <div class="col-1"><button type="button" class="btn btn-dark" (click)="onEdit(price.priceId)">Edit</button>
            </div>
            <div class="col-3">{{price.date | date: 'MM/dd/yyyy'}}</div>
            <div class="col-2">{{price.eodPrice}}</div>
            <div class="col-1"><button type="button" class="btn btn-danger"
                    (click)="onDelete(price.priceId)">Delete</button></div>
        </div>
        <hr />
    </div>
    <div *ngIf="prices && prices.length > 0">
        <app-pager [pageRequest]="pageRequest" (updateEvent)="update($event)"></app-pager>
    </div>
</div>