<div *ngIf="viewMode === 1">
    <h3>Add New Security</h3>
</div>
<div *ngIf="viewMode === 2">
    <h3>Edit Security</h3>
</div>
<div *ngIf="viewMode === 3">
    <h3>Delete Security</h3>
    <h5 class="text-danger">Please confirm if you want to delete this security</h5>
</div>

<h5 class="text-danger" *ngIf="error && error.length > 0">{{error}}</h5>

<div class="row">
    <div class="col-1">
        <button type="button" class="btn btn-dark" (click)="onAdd()" *ngIf="viewMode === 0">Add</button>
    </div>
    <div class="col-2"><b>Name</b></div>
    <div class="col-2"><b>ISIN</b></div>
    <div class="col-2"><b>Country</b></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
</div>
<hr />

<div *ngIf="viewMode === 1 || viewMode === 2  || viewMode === 3">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2"><input type="text" class="form-control" maxlength="20" [(ngModel)]="security.name"
                [disabled]="viewMode === 3" name="name" />
        </div>
        <div class="col-2"><input type="text" class="form-control" maxlength="20" [(ngModel)]="security.isin"
                [disabled]="viewMode === 3" name="isin" />
        </div>
        <div class="col-2"><input type="text" class="form-control" maxlength="20" [(ngModel)]="security.country"
                [disabled]="viewMode === 3" name="country" />
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-dark" *ngIf="viewMode !== 3" (click)="onSave()"
                [disabled]="!isValid()">Save</button>
            <button type="button" class="btn btn-danger" *ngIf="viewMode === 3" (click)="onConfirm()">Confirm</button>
        </div>
        <div class="col-1"><button type="button" class="btn btn-dark" (click)="onCancel()">Cancel</button>
        </div>
    </div>
    <hr />
</div>

<div *ngIf="viewMode === 0">
    <div *ngIf="securities && securities.length === 0">
        <h5 class="text-info">You have no securities logged</h5>
    </div>

    <div *ngFor="let security of securities" class="securities">
        <div class="row">
            <div class="col-1"><button type="button" class="btn btn-dark"
                    (click)="onEdit(security.securityId)">Edit</button></div>
            <div class="col-2">{{security.name}}</div>
            <div class="col-2">{{security.isin}}</div>
            <div class="col-2">{{security.country}}</div>
            <div class="col-1"><button type="button" class="btn btn-dark"
                    (click)="onPrices(security.securityId)">Prices</button></div>
            <div class="col-1"><button type="button" class="btn btn-danger"
                    (click)="onDelete(security.securityId)">Delete</button></div>
        </div>
        <hr />
    </div>
    <div *ngIf="securities && securities.length > 0">
        <app-pager [pageRequest]="pageRequest" (updateEvent)="update($event)"></app-pager>
    </div>
</div>