.overlay {
    z-index: 1000;
    position: fixed;
    left: 40%;
    top: 30%;
}

.page-link {
    color: white;
    background-color: #343a40;
}

.page-link:hover {
    color: white;
    background-color: black;
}
